/*
================
 Standard pipeline
================
*/


params {
	
	debug = "false"
	genome_dir = "/mnt/analysis/Ye/reference_genome/Red_Panda/STAR_index"
	params.gtf = "/mnt/analysis/Ye/reference_genome/Red_Panda/Red_Panda.V2.gtf"

}

process {
	
	conda = "/home/wangye/miniconda3/envs/primary_env"

	withLabel: 'large' {
		cpus = 4
		memory = 8
	}
}
